.create-dialog {
  width: 328px;
  height: 490px !important;
  border-radius: 6px;
}

.create-dialog .next-dialog-header {
  color: #222222;
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  height: 52px;
  line-height: 52px;
  text-align: center;
  background: #FAFAFA;
}


.create-dialog .next-dialog-body {
  .next-form-item .next-form-item-label {font-size: 16px;color: #222222;margin-bottom: 12px;}
  .next-form-item .next-input-medium {height: 34px;}
  .next-form-item .next-input-multiple {border: 1px solid #E6E7EB;border-radius: 4px;}
  .next-form-item .next-input-multiple textarea {height: 94px;}
  .next-form-item:last-child {margin-bottom: 0;}
  .next-select {width: 100%;}
}


.create-dialog .next-dialog-footer {
  .action-wrapper button {display: block;margin: auto;}
  .action-wrapper .next-btn-primary {width: 286px;margin-bottom: 16px;}
  .action-wrapper .next-btn-medium.next-btn-loading {padding-left: 16px;}
}