.ubanner-home .search-bar {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(51, 57, 64, 0.1);
}

.ubanner-home .gallery {
  top: 40px;
}